<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book-details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:if="${book}" class="container my-5">
                <div class="col-mid-12">
                    <form action="#" th:action="@{/save-book}" th:object="${book}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="isbn">ISBN</label>
                                <input type="text" th:field="*{isbn}" class="form-control" id="isbn" placeholder="ISBN">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name">Book Name</label>
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Book Name">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="description">Book Description</label>
                                <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Book Descriptin">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="categories">Category</label>
                                <select th:field="*{categories}" class="form-control" id="categories">
                                    <option th:each="category:${categories}" th:value="${category.id}"  th:text="${category.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="author">Author</label>
                                <select th:field="*{authors}" class="form-control"  id="author">
                                    <option th:each="author:${authors}" th:value="${author.id}"  th:text="${author.name}"></option>
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="publishers">Publisher</label>
                                <select th:field="*{publishers}" class="form-control" id="publishers" >
                                    <option th:each="publisher:${publishers}" th:value="${publisher.id}"  th:text="${publisher.name}"></option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>